.modal-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.5);
  z-index: 1;
  
  &__dialog {
    position: absolute;
    flex-direction: column;
    padding: 2.4rem;
    border-radius: 1.2rem;
    background-color: var(--bg-colour);
    z-index: 2;

    & * {
      color: var(--fg-colour);
      margin: 0.4rem;
    }
  
    &-title {
      text-align: center;
      font-size: 2.4rem;
    }

    &-input {
      border: 1px solid var(--fg-colour);
      background-color: var(--bg-colour);
      padding: 0.4rem;
      border-radius: 1.2rem;
      
      &:focus {
        outline: none;
        background-color: var(--hover-bg-colour);
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-btn {
        @include btn;
      }
    }

    &-check {
      display: flex;
      align-items: center;

      &-box {
        width: 2rem;
        height: 2rem;
      }
    }

    &-colour {
      display: flex;
      align-items: center;
      justify-content: center;

      &-box {
        width: 2rem;
        height: 2rem;
        border: 1px solid var(--fg-colour);
      }

      &-slider {
        width: 20rem;
        height: 1rem;
        background: linear-gradient(
          to right,
        hsl(0, 50%, 70%),
        hsl(60, 50%, 70%),
        hsl(120, 50%, 70%),
        hsl(180, 50%, 70%),
        hsl(240, 50%, 70%),
        hsl(300, 50%, 70%),
        hsl(360, 50%, 70%),);
        border-radius: 0.6rem;
        display: inline-flex;
        align-items: center;

        &-handle {
          margin: 0;
          position: relative;
          width: 1rem;
          height: 1rem;
          background-color: rgba($color: var(--fg-colour), $alpha: 0.0);
          border: 2px solid var(--fg-colour);
          border-radius: 0.6rem;
          cursor: grab;
          display: block;

          &:active {
            cursor: grabbing;
          }
        }
      }
    }

    &-select {
      @include btn;

      border: 1px solid var(--fg-colour);
      box-sizing: content-box;
      display: inline-flex;

      &-base {
        z-index: 2;
        // position: absolute;
        background-color: var(--bg-colour);
        border: 1px solid var(--fg-colour);
        border-radius: 0.4rem;
        display: none;
        flex-direction: column;
    
        &-btn {
          @include btn;
  
          margin: 0;
          padding: 1.2rem;
          border-radius: 0.4rem;
        }
      }
    }
    
    &-flex {
      display: flex;

      &--horizontal {
        flex-direction: row;
      }

      &--vertical {
        flex-direction: column;
      }
    }

    &-text {
      font-size: 1.8rem;
    }
  }
}