$bg-color: #fff;
$fg-color: #000;
$hover-bg-color: #dfdfdf;
$active-bg-color: #afafaf;

$red-fg-color: #ff1f1f;
$red-hover-bg-color: #ff1f1f;
$red-hover-fg-color: #fff;
$red-active-bg-color: #bf0f0f;

$disabled-color: #5f5f5f;