@import "variables";
@import "mixin";
@import "menu";
@import "dialog";

* {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

html {
	font-size: 62.5%;
}

.body {
	font-size: 1.6rem;
}

.navbar {
	width: 100%;
	background-color: var(--bg-colour);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

	&__btn {
		@include btn;

		* {
			margin: 0 0.3rem;
			display: block;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
		}

		&-icon {
			width: 2.4rem;
			height: 2.4rem;
		}
	}
	
	
	&__spacer {
		flex-grow: 1;
	}

	&__title {
		color: var(--fg-colour);
		margin: 0.5rem;
		font-size: 2.4rem;
	}
}

.content {
	display: flex;
	flex-direction: row;

	&__sidebar {
		background-color: var(--bg-colour);
		display: flex;
		flex-direction: column;

		&-btn {
			@include btn;
			justify-content: center;
			margin: 0.3rem 0.7rem;
			min-width: 6.4rem;
		}
	}

	&__canvas {
		background-color: var(--bg-dark-colour);
		display: block;
	}
}

html[data-theme="dark"] {
	.navbar__btn-icon--light {
		display: none;
	}
}

html[data-theme="light"] {
	.navbar__btn-icon--dark {
		display: none;
	}
}